# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Build output
dist/
dist-ssr/
output/
.vite_cache/

# Environment settings
*.local

# Package manager locks
package-lock.json

# Local env files
.env
.env.*
!.env.example

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.sync
history/*.json

# Mac/Windows junk files
Thumbs.db
ehthumbs.db
Icon?
desktop.ini

# NPM debug, coverage, and other
coverage/
.npm/